@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

:root {
	--primary-color: #ff3e00;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: #fff;
	font-family: system-ui;
	font-size: 18px;
	color: #000;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 1.5;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Headland One', serif;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h3 {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}
